<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143709578473-bt6nd8utlfjggvgodea60t3fa9ijdlqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143709578473-bt6nd8utlfjggvgodea60t3fa9ijdlqg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143709578473-4os6u7jk30h2n5nrggeo7merrvgearjl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeF3q0JKoH5dvPHjcpntCRZ7UtEKKSkKk</string>
	<key>GCM_SENDER_ID</key>
	<string>143709578473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digiwrecks.blarneychamber</string>
	<key>PROJECT_ID</key>
	<string>blarney-and-district</string>
	<key>STORAGE_BUCKET</key>
	<string>blarney-and-district.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143709578473:ios:d77397ebc00eb5d46d3c78</string>
</dict>
</plist>